---
import Footer from "../components/Footer.astro";
import Navegation from "../components/Navegation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col h-screen">
        <Navegation />
        <div class="flex-grow pt-10 px-15">
            <img class="rounded h-full w-full object-contain" src="/images/admins.jpg" alt="Administradores de Edad Imperial" />
        </div>
        <Footer />
    </div>
</Layout>
