---
import Footer from "../components/Footer.astro";
import Navegation from "../components/Navegation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col h-screen">
        <Navegation />
        <div class="flex px-5">
            <img width="400" height="500" class="object-cover rounded-lg" src="/images/castle.png" />
            <div class="text-white text-xl text-justify pl-10">
                <h1 class="text-yellow-300 text-2xl font-bold">Edad Imperial</h1>
                <br />
                ¡Vive una aventura única en nuestro servidor de minecraft! Elige tu trabajo, lucha contra mobs especiales, explora mundos con minerales custom y disfruta de un pvp libre y desafiante. ¡Únete a nuestra comunidad!
            </div>
        </div>

        <Footer />
    </div>
</Layout>
