---
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Navegation from "../components/Navegation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Navegation />
    <div class="space-y-7">
        <Card href="/wiki/reglas" title="Reglas" emoji="ðŸ“œ" />
        <Card href="/wiki/minerales" title="Minerales" emoji="â›ï¸" />
        <Card href="/wiki/items" title="Items" emoji="ðŸ› ï¸" />
        <Card href="/wiki/mobs" title="Mobs" emoji="ðŸ§Ÿ" />
    </div>

    <Footer />
</Layout>
