---
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Navegation from "../components/Navegation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Navegation />
    <div class="grid grid-cols-3 justify-items-center gap-5 pt-10">
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
    </div>

    <Footer />
</Layout>
