---
import LayoutWiki from "../../layouts/LayoutWiki.astro";
---

<LayoutWiki>
    <div class="pt-6">
        <img src="https://cdn.discordapp.com/attachments/1062575438171484232/1079814050659188826/GuiasMinerales-04-04.png" />
    </div>
</LayoutWiki>
